<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49833848312-6br0fecsnu6t46rvlefffabup9hmq9nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49833848312-6br0fecsnu6t46rvlefffabup9hmq9nr</string>
	<key>API_KEY</key>
	<string>AIzaSyBm113mWNiM9sicNfHR5LvUrWZ779j528o</string>
	<key>GCM_SENDER_ID</key>
	<string>49833848312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parallel</string>
	<key>PROJECT_ID</key>
	<string>parallel-315a9</string>
	<key>STORAGE_BUCKET</key>
	<string>parallel-315a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49833848312:ios:b6ab734da55ea808a0fa0d</string>
</dict>
</plist>